body {
    background-color: rgb(5, 5, 5);
    margin: 0;
    overflow-x: hidden;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    background-image: linear-gradient(150deg, #fff -400%, #000001 50%, #fff 400%);
}

#navbar {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 1120px;
    height: 100px;
}

#page-logo {
    width: 50px;
    margin: 30px;
}

#fivem-logo {
    cursor: pointer;
    position: absolute;
    height: 40px;
    right: 5px;
    top: 30px;
    transition: all 1s;
    filter: grayscale(1);
    scale: 0.8;
}

#fivem-logo:hover {
    filter: grayscale(0);
}

#discord-logo {
    cursor: pointer;
    position: absolute;
    height: 40px;
    right: 75px;
    top: 30px;
    transition: all 1s;
    filter: grayscale(1);
    scale: 1.1;
}

#discord-logo:hover {
    filter: grayscale(0);
}

#rules-icon {
    cursor: pointer;
    position: absolute;
    height: 40px;
    right: 140px;
    top: 30px;
    transition: all 1s;
    filter: grayscale(1);
    scale: 1;
}

#rules-icon:hover {
    filter: grayscale(0);
}

#main-div {
    position: absolute;
    width: 1120px;
    height: 500px;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

#main-text {
    position: absolute;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 50px;
}

#small-text {
    color: rgb(131, 131, 131);
    position: absolute;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 120px;
    margin-left: 50px;
}

#main-img {
    position: absolute;
    height: 811px;
    margin-left: 750px;
    margin-top: -100px;
}

#main-div::before {
    position: absolute;
    content: "";
    margin-left: 750px;
    margin-top: 300px;
    transition: all 1s;
    z-index: -999;
}

#main-div:hover::before {
    box-shadow: 0 0 1000px 200px white;
}

#main-img1 {
    position: absolute;
    height: 861px;
    margin-left: 375px;
    margin-top: -150px;
    z-index: -1;
}

#shop-button {
    cursor: pointer;
    position: absolute;
    width: 250px;
    height: 50px;
    background-color: white;
    border: solid white 2px;
    box-shadow: 0 0 5px 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 275px;
    transition: all .5s;
}

#shop-button:hover {
    background-color: transparent;
    color: white;
    border-radius: 0;
    box-shadow: 0 0 20px 1px white;
}

#forum-button {
    cursor: pointer;
    position: absolute;
    color: white;
    width: 250px;
    height: 55px;
    background-color: black;
    border: solid 3px white;
    box-shadow: 0 0 10px 2px white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 0px;
    margin-left: 50px;
    margin-top: 350px;
    padding-bottom: 4px;
    transition: all .5s;
}

#forum-button:hover {
    border-radius: 5px;
    box-shadow: 0 0 20px 1px white;
}

@media only screen and (max-width: 1000px) {
    #main-text {
        margin-left: 200px;
    }
    #small-text {
        margin-left: 200px;
    }
    #shop-button {
        margin-left: 200px;
    }
    #forum-button {
        margin-left: 200px;
    }
}

@media only screen and (max-width: 1120px) {
    #navbar {
        width: 100%;
    }
    #discord-logo {
        right: 100px;
    }
    #fivem-logo {
        right: 30px;
    }
    #rules-icon {
        right: 170px;
    }
}

@media only screen and (max-width: 1240px) {
    #main-img {
        margin-left: 500px;
    }
    #main-img1 {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    #main-img {
        left: 50%;
        margin-left: 0;
    }
    #main-img1 {
        display: none;
    }
}

@media only screen and (max-width: 780px) {
    #main-text {
        margin-left: 250px;
    }
    #small-text {
        margin-left: 250px;
    }
    #shop-button {
        margin-left: 250px;
    }
    #forum-button {
        margin-left: 250px;
    }
}

@media only screen and (max-width: 700px) {
    #main-img {
        display: none;
    }
    #main-text {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    #small-text {
        margin-left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
    }
    #shop-button {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
    #forum-button {
        margin-left: 50%;
        transform: translate(-50%, 0);
    }
}