body {
    background-color: rgb(5, 5, 5);
    margin: 0;
}

body::after {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    background-image: linear-gradient(150deg, #00ff80 -400%, #000001 50%, #00ffcc 400%);
}

#navbar {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    width: 1120px;
    height: 100px;
}

#page-logo {
    width: 80px;
    margin-top: 10px;
}

#fivem-logo {
    cursor: pointer;
    position: absolute;
    height: 40px;
    right: 5px;
    top: 30px;
    transition: all 1s;
    filter: grayscale(1);
    scale: 0.8;
}

#fivem-logo:hover {
    filter: grayscale(0);
}

#discord-logo {
    cursor: pointer;
    position: absolute;
    height: 40px;
    right: 75px;
    top: 30px;
    transition: all 1s;
    filter: grayscale(1);
    scale: 1.1;
}

#discord-logo:hover {
    filter: grayscale(0);
}

#main-div {
    position: absolute;
    width: 1120px;
    height: 500px;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
}

#main-text {
    position: absolute;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin: 100px;
}

#small-text {
    color: rgb(131, 131, 131);
    position: absolute;
    justify-content: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-top: 170px;
    margin-left: 100px;
}

#main-img {
    position: absolute;
    height: 900px;
    margin-left: 700px;
    filter:saturate(0) ;
    margin-top: -100px;
    border-radius: 100px;
}

#main-img1 {
    position: absolute;
    height: 900px;
    margin-left: 300px;
    filter:saturate(0) ;
    margin-top: -180px;
    border-radius: 100px;
    z-index: -1;
}

@media only screen and (max-width: 1120px) {
    #navbar {
        width: 100%;
    }
    #discord-logo {
        right: 100px;
    }
}