body {
    margin: 0;
    background-color: rgb(22, 22, 22);
}

:root {
    --main-color: #7700cc;
    --second-color: #ff9921;
    --gray-color: rgb(215, 215, 215);
    --active-color: rgba(0, 0, 255, 0.685);
}

.show {
    display: block;
}

.unshow {
    display: none;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-color {
    color: var(--main-color);
}

#main-img {
    position: absolute;
    width: 250px;
    margin-top: -75px;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background-color: white;
}

#buttons-menu {
    position: fixed;
    width: 300px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    border-spacing: 50px;
}

#buttons-menu-overlay {
    position: fixed;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
}

#buttons-menu td {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 50px;
    transition: all 1s;
}

#buttons-menu td::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: white;
    height: 5px;
    margin-top: 55px;
    transition: all 1s;
}

#buttons-menu td:hover::before {
    width: 220px;
}

#right-button {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    /*background: rgb(154,0,255);
    background: linear-gradient(145deg, rgba(154,0,255,1) 0%, rgba(201,118,255,1) 82%);
    */
    right: 22.5px;
    margin-top: 22.5px;
    border-radius: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    line-height: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    z-index: 999999999999999999;
    transition: all 1s;
}

#right-button-in {
    position: absolute;
    z-index: 999999999999999999;
    right: 22.5px;
    margin-top: 22.5px;
    transition: all .5s;
}

#first-section {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#main-div {
    position: absolute;
    width: 1300px;
    height: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#main-text {
    position: absolute;
    color: white;
    font-size: 60px;
    left: 50%;
    top: 50%;
    font-family: "Poppins", sans-serif;
    line-height: 70px;
    font-weight: 600;
    transform: translate(-50%, 0);
    text-align: center;
}

#button5 {
    cursor: pointer;
    position: absolute;
    background-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color);
    width: 350px;
    height: 35px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 600px;
    color: white;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-top: 15px;
    transition: all .5s;
}

#button5:hover {
    box-shadow: 0 0 10px 5px var(--main-color);
}

#short-text {
    position: absolute;
    color: rgb(196, 196, 196);
    font-size: 25px;
    margin-top: 670px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
}

#main-video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0.5);
}

#second-section {
    position: absolute;
    width: 100%;
    height: 900px;
    margin-top: 100vh;
    background-color: white;
}

#sec-container {
    position: absolute;
    width: 1120px;
    left: 50%;
    transform: translate(-50%, 0);
}

#sec-container::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 130px;
}

#sec-main-text {
    position: absolute;
    color: black;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    margin-top: 60px;
}

#sec-short-text {
    position: absolute;
    color: black;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-top: 150px;
    width: 430px;
}

#sec-table {
    position: absolute;
    width: 1120px;
    margin-top: 150px;
    border-spacing: 10px;
    transition: all 1s;
}

#sec-table td {
    position: absolute;
    width: 60%;
    height: 600px;
    right: 0;
    vertical-align: top;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
    transition: all 1s;
}

.sec-table-icon {
    width: 630px;
    height: 300px;
    margin: 20px;
}

.sec-table-main-text {
    position: absolute;
    color: black;
    margin-top: -20px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 30px;
}

.sec-table-text {
    position: absolute;
    width: 630px;
    color: rgb(36, 36, 36);
    margin-top: 25px;
    margin-left: 20px;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#sec-table1 {
    position: absolute;
    height: 550px;
    width: 400px;
    margin-top: 225px;
    margin-left: 0;
}

#sec-table1 td {
    width: 330px;
    height: 55px;
    position: absolute;
    background-color: rgb(215, 215, 215);
    border-radius: 10px;
    padding-bottom: 4px;
    padding-left: 100px;
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all .5s;
}

.sec-table1-icon {
    position: absolute;
    width: 40px;
    margin-left: -70px;
    margin-top: 9px;
}

#third-section {
    position: absolute;
    width: 100%;
    height: 1920px; /* 920px */
    margin-top: calc(100vh + 900px);
    background-color: #DFDFDF;
    z-index: 999;
}

#thi-container {
    position: absolute;
    width: 1400px;
    left: 50%;
    transform: translate(-50%, 0);
}

#thi-main-text {
    position: absolute;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 100px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, 0);
}

#thi-short-text {
    position: absolute;
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    margin-top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
}

.thi-video {
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translate(-50%);
}

.thi-video2 {
    position: absolute;
    width: 253px;
    left: 50%;
    transform: translate(-50%, 0);
}

.thi-video-txt {
    position: absolute;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    left: 50%;
    transform: translate(-50%, 0);
}

#thi-video-txt1 {
    margin-left: -350px;
    margin-top: 560px;
    width: 600px;
}

#thi-video-txt2 {
    margin-left: 350px;
    margin-top: 560px;
    width: 600px;
}

#thi-video-txt3 {
    margin-left: 550px;
    margin-top: 1380px;
    width: 600px;
}

#thi-video-txt4 {
    margin-left: -350px;
    margin-top: 1380px;
    width: 600px;
}

#thi-video-txt7 {
    margin-left: 100px;
    margin-top: 1380px;
    width: 600px;
}

#thi-video1 {
    width: 600px;
    margin-left: -350px;
    margin-top: 210px;
}

#thi-video2 {
    width: 600px;
    margin-left: 350px;
    margin-top: 210px;
}

#thi-video3 {
    width: 400px;
    margin-left: -450px;
    margin-top: 650px;
}

#thi-video4 {
    width: 400px;
    margin-left: 450px;
    margin-top: 650px;
}

#thi-video7 {
    width: 400px;
    margin-left: 0;
    margin-top: 650px;
}

#thi-video5 {
    width: 600px;
    margin-left: -350px;
    margin-top: 1470px;
}

#thi-video-txt5 {
    margin-left: -350px;
    margin-top: 1830px;
    width: 600px;
}

#thi-video6 {
    width: 600px;
    margin-left: 350px;
    margin-top: 1470px;
}

#thi-video-txt6 {
    margin-left: 350px;
    margin-top: 1830px;
    width: 600px;
}

#fourth-section {
    position: absolute;
    width: 100%;
    height: 320px;
    margin-top: calc(100vh + 2820px);
    background-image: linear-gradient(45deg, #200049 0%, #7022ff 100%);
}

#fourth-container {
    position: absolute;
    width: 900px;
    height: 320px;
    left: 50%;
    transform: translate(-50%, 0);
}

#fourth-main-text {
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 10px;
}

.red-text {
    color: var(--second-color);
}

#fourth-presents {
    position: absolute;
    width: 400px;
    right: 0;
    margin-top: 30px;
}

#fourth-button1 {
    position: absolute;
    width: 400px;
    height: 40px;
    padding-top: 10px;
    background-image: linear-gradient(45deg, #ffbf00 0%, #ff9921 100%);
    text-align: center;
    border: solid 3px var(--second-color);
    margin-top: 160px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#fourth-button2 {
    position: absolute;
    width: 400px;
    height: 40px;
    border: solid 3px white;
    text-align: center;
    padding-top: 10px;
    margin-top: 230px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#fifth-section {
    position: absolute;
    width: 100%;
    height: 580px; /* 900 */
    margin-top: calc(100vh + 2820px);
    background-color: black;
    z-index: 999;
}

#fifth-container {
    position: absolute;
    width: 1120px;
    height: 550px;
    left: 50%;
    transform: translate(-50%, 0);
}

#fifth-main-text {
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-top: 30px;
}

#fifth-table1 {
    position: absolute;
    width: 1120px;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 130px;
    border-spacing: 10px;
}

#fifth-table1 td {
    /*min-width: 380px; */
    height: 360px;
    vertical-align: top;
    background-color: rgb(215, 215, 215);
    border-radius: 20px;
}

.fifth-icon {
    width: 90px;
    margin: 10px;
}

.fifth-table-main-text {
    color: black;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin-top: -10px;
    margin-left: 20px;
    width: 290px;
}

#fifth-table-div {
    width: 90%;
    height: 2px;
    margin-top: 100px;
    background-color: red;
}

.fifth-table-text {
    color: black;
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
    width: 300px;
    margin-left: 20px;
}

#fifth-table-text1 {
    margin-top: 60px;
}

#fifth-table-text2 {
    margin-top: 60px;
}

#fifth-table-text3 {
    margin-top: 90px;
}

#fifth-main-text2 {
    position: absolute;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-top: 500px;
}

#fifth-main-button {
    width: 200px;
    height: 50px;
    background-color: #7022ff;
    position: absolute;
    margin-top: 700px;
}

#fifth-main-img {
    position: absolute;
    width: 800px;
    right: 50px;
    bottom: 0;
    z-index: -999;
}

#sixth-section {
    width: 100%;
    height: 920px;
    position: absolute;
    margin-top: calc(100vh + 3400px);
    left: 50%;
    transform: translate(-50%, 0);
}

#sixth-container {
    width: 1120px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

#sixth-main-text {
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 90px;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    white-space: nowrap;
}

#sixth-left-button {
    cursor: pointer;
    width: 200px;
    height: 38px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 999px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: -440px;
    margin-top: 250px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-top: 10px;
    transition: all .5s;
}

#sixth-left-button:hover {
    background-color: white;
    color: black;
    font-weight: 300;
}

#sixth-right-button {
    cursor: pointer;
    width: 200px;
    height: 38px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 999px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-left: 440px;
    margin-top: 250px;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    padding-top: 10px;
    transition: all .5s;
}

#sixth-right-button:hover {
    background-color: white;
    color: black;
    font-weight: 300;
}

#sixth-left-main-logo {
    position: absolute;
    width: 150px;
    bottom: 105px;
    margin-left: -10px;
}

#sixth-left-div {
    position: absolute;
    width: 200px;
    bottom: 125px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--main-color);
}

#sixth-left-short-text {
    position: absolute;
    width: 150px;
    bottom: 55px;
    color: white;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

#sixth-menu {
    position: absolute;
    width: 200px;
    bottom: 65px;
    margin-left: 350px;
    height: 150px;
    border-radius: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#sixth-info {
    position: absolute;
    width: 200px;
    bottom: 65px;
    margin-left: 550px;
    height: 150px;
    border-radius: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 20px;
}

#sixth-right-div {
    width: 200px;
    position: absolute;
    bottom: 125px;
    right: 150px;
}

#sixth-right-mail {
    position: absolute;
    color: white;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    bottom: 40px;
}

#sixth-right-phone {
    position: absolute;
    color: white;
    font-size: 40px;
    bottom: -30px;
    margin-left: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    white-space: nowrap;
}

#sixth-right-socials {
    position: absolute;
    width: 350px;
    height: 65px;
    margin-top: -10px;
    border-collapse: 20px;
}

#sixth-right-socials td {
    cursor: pointer;
    width: 65px;
    height: 65px;
    margin-top: -10px;
    background-color: black;
    border-radius: 9999px;
    transform: scale(0.7);
    transition: all .5s;
}

#sixth-right-socials td:hover {
    transform: scale(1.1);
    z-index: 9999;
}

.sixth-right-socials-icon {
    width: 20px;
    margin-left: 17.5px;
    transform: scale(1);
}

#sixth-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(1);
    z-index: -99999999999;
}