body {
    margin: 0;
    background-color: rgb(22, 22, 22);
}

:root {
    --main-color: #7700cc;
    --second-color: #ff9921;
    --gray-color: rgb(215, 215, 215);
    --active-color: rgba(0, 0, 255, 0.685);
}

.show {
    display: block;
}

.unshow {
    display: none;
}

.center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.main-color {
    color: var(--main-color);
}

#main-img {
    position: absolute;
    width: 250px;
    margin-top: -75px;
}

#navbar {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 9999;
    background-color: white;
}

#buttons-menu {
    position: fixed;
    width: 300px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 999999999;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    text-align: center;
    border-spacing: 50px;
}

#buttons-menu-overlay {
    position: fixed;
    background-color: black;
    opacity: 0.9;
    width: 100%;
    height: 100vh;
    z-index: 9999999;
}

#buttons-menu td {
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 50px;
    transition: all 1s;
}

#buttons-menu td::before {
    content: "";
    position: absolute;
    width: 0;
    background-color: white;
    height: 5px;
    margin-top: 55px;
    transition: all 1s;
}

#buttons-menu td:hover::before {
    width: 220px;
}

#right-button {
    cursor: pointer;
    position: fixed;
    width: 50px;
    height: 50px;
    /*background: rgb(154,0,255);
    background: linear-gradient(145deg, rgba(154,0,255,1) 0%, rgba(201,118,255,1) 82%);
    */
    right: 22.5px;
    margin-top: 22.5px;
    border-radius: 10px;
    color: white;
    font-family: "Roboto", sans-serif;
    line-height: 50px;
    text-align: center;
    font-weight: 800;
    font-size: 17px;
    z-index: 999999999999999999;
    transition: all 1s;
}

#right-button-in {
    position: absolute;
    z-index: 999999999999999999;
    right: 22.5px;
    margin-top: 22.5px;
    transition: all .5s;
}

#main-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 150px;
    color: white;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#section1 {
    position: absolute;
    width: 100%;
    height: 900px;
    margin-top: 260px;
    background-color: white;
}

#one-main-text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    margin-top: 70px;
}

#one-table1 {
    position: absolute;
    width: 1100px;
    height: 100px;
    margin-top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
}

.one-table1-icon {
    width: 100px;
    margin-left: 20px;
}

.one-table1-text {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 150px;
}

#one-table1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 75px;
}

#one-table2 {
    position: absolute;
    width: 1120px;
    height: 100px;
    background-color: red;
    margin-top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
}

#one-table2 td {
    background-color: green;
    border-radius: 10px;
    width: min-content;
    height: 30px;
}