#main-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 150px;
    color: white;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#section1 {
    position: absolute;
    width: 100%;
    height: 2000px;
    margin-top: 260px;
    background-color: white;
}

#one-main-text {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    white-space: nowrap;
    margin-top: 70px;
}

#one-table1 {
    position: absolute;
    width: 1120px;
    height: 100px;
    margin-top: 150px;
    left: 50%;
    transform: translate(-50%, 0);
}

.one-table1-icon {
    width: 100px;
    margin-left: 20px;
}

.one-table1-text {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-align: center;
    width: 150px;
}

#one-table1::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 75px;
}

#one-table2 {
    position: absolute;
    width: 1120px;
    margin-top: 380px;
    left: 50%;
    transform: translate(-50%, 0);
}

#one-table2 td {
    background-color: gray;
    border-radius: 10px;
    width: min-content;
    height: 30px;
    padding-left: 10px;
}

#one-table2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 50px;
}

#one-table3 {
    position: absolute;
    width: 1120px;
    margin-top: 510px;
    left: 50%;
    transform: translate(-50%, 0);
}

#one-table3 td {
    background-color: gray;
    border-radius: 10px;
    width: min-content;
    height: 30px;
    padding-left: 10px;
}

#one-table4::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 50px;
}

.one-table3-video1 {
    width: 300px;
}

#section2 {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: white;
    margin-top: 2000px;
    border-top: solid 2px black;
}

#two-main-text {
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    margin-top: 100px;
}

#two-table1 {
    position: absolute;
    width: 1120px;
    margin-top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    border-spacing: 20px;
}

#two-table1 td {
    background-color: white;
    border-radius: 10px;
    width: min-content;
    height: 400px;
    padding-left: 10px;
    border-radius: 50px;
    box-shadow: 0 0 50px 1px black;
}

.two-5stars {
    position: absolute;
    margin-top: -260px;
    margin-left: -75px;
    transform: scale(0.5);
}

.two-table1-main-text {
    position: absolute;
    font-size: 22.5px;
    font-family: "Roboto", sans-serif;
    width: 300px;
    margin-left: 15px;
    margin-top: -100px;
}

.two-table1-main-icon {
    position: absolute;
    width: 100px;
    margin-left: 200px;
    margin-top: 80px;
}

.two-table1-bottom-text {
    position: absolute;
    width: 100px;
    margin-left: 10px;
    margin-top: 100px;
    font-size: 20px;
    white-space: nowrap;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
}

.two-table1-bottom-short-text {
    position: absolute;
    width: 100px;
    margin-left: 10px;
    margin-top: 130px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

#two-main-button {
    width: 200px;
    height: 35px;
    margin-top: 730px;
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: white;
    text-align: center;
    padding-top: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    border-radius: 10px;
}

#section3 {
    position: absolute;
    width: 100%;
    height: 750px;
    margin-top: 2800px;
    background-color: white;
}

#three-bg-div {
    width: 100%;
    height: 400px;
    background-color: var(--second-color);
    position: absolute;
    bottom: 0;
}

#three-contact-div {
    width: 1000px;
    height: 500px;
    background-color: var(--main-color);
    z-index: 999;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    border-radius: 30px;
}

#three-main-text {
    color: white;
    left: 50%;
    transform: translate(-50%);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    position: absolute;
}

#three-short-text {
    color: rgb(180, 180, 180);
    left: 50%;
    transform: translate(-50%);
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    position: absolute;
    margin-top: 135px;
}

#three-table1 {
    width: 950px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 200px;
    border-spacing: 10px;
}

#three-table1 td {
    height: 250px;
    border-radius: 10px;
    background-color: var(--active-color);
}

.three-table1-icon {
    width: 150px;
    margin-left: 75px;
    position: absolute;
    margin-top: -5px;
}

.three-table1-button {
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 175px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    height: 40px;
    font-size: 20px;
}