body {
    background-color: #141414;
    margin: 0;
}

#navbar {
    width: 100%;
    height: 65px;
    background-color: #0D0D0D;
    box-shadow: 0px 0px 10px 5px #0D0D0D;
}

#profile-div {
    position: absolute;
    width: 80px;
    height: 65px;
    right: 0;
    background-color: transparent;
    z-index: 1;
}

#profile-picture {
    cursor: pointer;
    width: 55px;
    height: 55px;
    border-radius: 999px;
    margin: 5px;
    z-index: 2;
    transition: all 0.5s ease-out;
}

#profile-picture:hover {
    box-shadow: 0 0 5px 2px #E8BA00;
}

#wallet-div {
    position: absolute;
    width: 200px;
    height: 45px;
    right: 50px;
}

#wallet-background {
    position: absolute;
    width: 200px;
    height: 45px;
    background-color: #242424;
    z-index: 0;
    margin-top: 10px;
    opacity: 50%;
}

#add-funds-button {
    color: white;
    cursor: pointer;
    position: absolute;
    width: 100px;
    height: 50px;
    border-radius: 0;
    font-weight: bold;
    margin-top: 7.5px;
    right: 210px;
    background-color: transparent;
    border: solid 2px #E8BA00;
    transition: all 1s;
}

#add-funds-button:hover {
    background-color: #E8BA00;
    border: solid 2px #E8BA00;
    box-shadow: 0 0 10px 1px #E8BA00;
    text-shadow: 0px 0px 8px black;
    border-radius: 5px;
}

#wallet-text1 {
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-left: 65px;
    font-weight: bold;
    margin-top: 13px;
}

#wallet-text2 {
    position: absolute;
    color: white;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-left: 30px;
    margin-top: 33px;
}

#sub-navbar {
    width: 100%;
    height: 45px;
    background-color: #0F0F0F;
}

#daily-present-button {
    cursor: pointer;
    width: 180px;
    height: 45px;
    background-color: transparent;
    margin-left: 25px;
}

#daily-present-text {
    position: absolute;
    color: white;
    margin-top: 13px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#upgrader-button {
    cursor: pointer;
    position: absolute;
    width: 115px;
    height: 45px;
    background-color: transparent;
    right: 10px;
    margin-top: -45px;
}

#upgrader-text {
    position: absolute;
    color: white;
    margin-top: 12px;
    margin-left: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}